<nav class="site-nav" aria-label="Primary">
    <a class="site-brand" href="/">Lo-Cal Adventures</a>
    <div class="site-nav-actions">
        <a class="site-nav-link" href="/">Home</a>
        <a class="site-nav-link" href="/singleResult">Random Lo-Cal Adventure</a>
    </div>
</nav>
